<table class="table">
  <thead>
  <tr>
    <th>STT</th>
    <th>nameCustomer</th>
    <th>birthday</th>
    <th>gender</th>
    <th>id_card</th>
    <th>phone</th>
    <th>email</th>
    <th>address</th>
    <th>nameCustomerType</th>
    <th>update</th>
    <th>delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of customerList ;index as i">
    <th scope="row">{{i+1}}</th>
    <td>{{item.nameCustomer}}</td>
    <td>{{item.birthday}}</td>
    <td>{{item.gender}}</td>
    <td>{{item.id_card}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.email}}</td>
    <td>{{item.address}}</td>
    <td>{{item.customerType?.nameCustomerType}}</td>
  </tr>
  </tbody>
</table>
