<form class="form" >
  <h2>Update Facility</h2>

  <label >tên dịch vụ</label>
  <input><br>

  <label>diện tích sử dụng</label>
  <input  ><br>


  <label >chi phí thuê</label>
  <input ><br>

  <label >số lượng người tối đa</label>
  <input><br>


  <label>kiểu thuê</label>
  <select >
    <option></option>
  </select><br>


  <label >loại dịch vụ</label>
  <select  id="facilityType">
    <option  ></option>
  </select><br>

  <div id="standardRoom"  >
    <label  >Tiêu chuẩn phòng</label>
    <input ><br>
  </div>

  <div id="descriptionOtherCovenience" >
    <label>Mô tả tiện nghi khác</label>
    <input id="descriptionOtherCovenienceValue" ><br>
  </div>

  <div id="poolArea" >
    <label >diện tích hồ bơi</label>
    <input id="poolAreaValue" ><br>
  </div>

  <div id="numberOfFloors"  >
    <label >số tầng</label>
    <input ><br>
  </div>

  <div id="facilityFree"  >
    <label >dịch vụ miễn phí đi kèm</label>
    <input id="facilityFreeValue"  ><br>
  </div>
  <input type="submit" >
</form>
