<form class="form">
  <h2>Update Customer</h2>


  <input type="hidden">

  <label >nameCustomer</label>
  <input  placeholder="Write your name here.."><br>


  <label >birthday</label>
  <input type="date" ><br>



  <label>gender</label>
  <select >
    <option></option>
    <option  ></option>
  </select><br>

  <label >id_card</label>
  <input><br>

  <label >phone</label>
  <input ><br>

  <label>email</label>
  <input ><br>

  <label>address</label>
  <input ><br>


  <select >
    <option  ></option>
  </select>
  <input type="submit" >

</form>
