<table class="table">
  <thead>
  <tr>
    <th>STT</th>
    <th>Dịch vụ</th>
    <th>Khách hàng</th>
    <th>Ngày bắt đầu</th>
    <th>Ngày kết thúc</th>
    <th>Tiền đặt cọc</th>
    <th>tổng tiền</th>
    <th>các dịch vụ đi kèm</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Dịch vụ</td>
    <td>Khách hàng</td>
    <td>NGày bắt đầu</td>
    <td>NGày kết thúc</td>
    <td>Tiền đặt cọc</td>
    <td>Tổng tiền</td>
    <td>Dịch vụ đi kèm</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Dịch vụ</td>
    <td>Khách hàng</td>
    <td>NGày bắt đầu</td>
    <td>NGày kết thúc</td>
    <td>Tiền đặt cọc</td>
    <td>Tổng tiền</td>
    <td>Dịch vụ đi kèm</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Dịch vụ</td>
    <td>Khách hàng</td>
    <td>NGày bắt đầu</td>
    <td>NGày kết thúc</td>
    <td>Tiền đặt cọc</td>
    <td>Tổng tiền</td>
    <td>Dịch vụ đi kèm</td>
  </tr>
  </tbody>
</table>
