<table class="table">
  <thead>
  <tr>
    <th>STT</th>
    <th>nameCustomer</th>
    <th>birthday</th>
    <th>gender</th>
    <th>id_card</th>
    <th>phone</th>
    <th>email</th>
    <th>address</th>
    <th>nameCustomerType</th>
    <th>update</th>
    <th>delete</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>Mark</td>

  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@mdo</td>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>Mark</td>
    <td>@mdo</td>
    <td>Mark</td>

  </tr>
  <tr>
    <th scope="row">3</th>
    <td>@twitter</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@mdo</td>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>Mark</td>
    <td>@mdo</td>
    <td>@mdo</td>
  </tr>
  </tbody>
</table>
