<form [formGroup]="logoutForm" (ngSubmit)="saveLogIn()">
  <label for="email" >email</label>
  <input type="text" id="email" name="email" formControlName="email"  ><br>
  <span style="color: red" *ngIf="logoutForm.controls.email.hasError('invalidEmail')&&logoutForm.controls.email.touched">Sai định dạng</span>

  <label for="password">password</label>   <span *ngIf="logoutForm.controls.password.hasError('minLength')" style="color: red" >Vui lòng nhập từ 6 ký tự trở lên</span><br>
  <span *ngIf="logoutForm.controls.password.hasError('required')&&logoutForm.controls.password.touched" style="color: red" >Không được để trống</span><br>
  <input id="password" type="password" name="password"  formControlName="password"   ><br>

  <label for="confirm password">confirm password</label>
  <span style="color: red" *ngIf="logoutForm.hasError('invalidPass')">KHông khớp</span><br>
  <input id="confirm password" type="password" name="confirmPassword" formControlName="confirmPassword" ><br>

  <label for="country">Khu vực</label>
  <span *ngIf="logoutForm.controls.country.hasError('minLength')&&logoutForm.controls.country.touched" style="color: red" >Vui lòng nhập từ 18 ký tự trở lên</span><br>
  <span *ngIf="logoutForm.controls.country.hasError('required')&&logoutForm.controls.country.touched" style="color: red" >Không được để trống</span><br>
  <select id="country" name="country" formControlName="country">
    <option [ngValue]="c.id" *ngFor="let c of countryList">{{c.name}}</option>
  </select><br>

  <label for="age">age</label>
  <span *ngIf="logoutForm.controls.age.hasError('required')&&logoutForm.controls.age.touched" style="color: red" >Không được để trống</span><br>
  <input type="text" id="age" name="age" formControlName="age"><br>

  <label for="gender">Gender</label>
  <span *ngIf="logoutForm.controls.gender.hasError('required')&&logoutForm.controls.gender.touched" style="color: red" >Không được để trống</span><br>
  <input type="radio" id="?gender" name="gender" value="nam" formControlName="gender">Nam
  <input type="radio" id="gender" name="gender" value="nữ" formControlName="gender">Nữ<br>

  <label for="phone">Phone</label>
  <span *ngIf="logoutForm.controls.phone.hasError('required')&&logoutForm.controls.phone.touched" style="color: red" >Không được để trống</span><br>
  <span *ngIf="logoutForm.controls.phone.hasError('pattern')&&logoutForm.controls.phone.touched" style="color: red" >bắt đầu từ +84. 9 chữ số</span><br>

  <input type="text" id="phone" name="phone" formControlName="phone"><br>
  <input type="submit" value="lưu">
</form>
